.effect-1{
    border-radius: 10px; border:none; padding: 7px 0;
    border-bottom: 1px solid #ccc; width: 60%;
}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; 
    background-color: #3399FF; transition: 0.4s;}

.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

.messageBox{
    height: 150px;
}

.bgImg{
    background: url("./bgImage2.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 75%;
}

::placeholder{
    color:indianred;
}
